[Unit]
Description=PostgreSQL 9.6 database server. 
After=syslog.target network.target

[Service]
Type=forking
Environment=PGDATA={{ POSTGRES_DATA }} PGPORT=5432
User={{ USER_NAME }}
Group={{ USER_NAME }}
ExecStart={{ POSTGRES_OPT }}/bin/pg_ctl start -D ${PGDATA} -s -o "-p ${PGPORT}" -w -t 300
ExecStop={{ POSTGRES_OPT }}/bin/pg_ctl stop -D ${PGDATA} -s -m fast
ExecReload={{ POSTGRES_OPT }}/bin/pg_ctl reload -D ${PGDATA} -s
TimeoutSec=300

[Install]
WantedBy=multi-user.target
